* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
}
.firstTable {
  border: 2px solid white;
}
.firstTable th {
  background-color: tomato;
  color: pink;
  border: 2px solid white;
}
.firstTable td {
  background-color: rgb(65, 65, 209);
  border: 2px solid white;
}
body {
  background-color: black;
  font-family: "Dancing Script", cursive;
  font-family: "Roboto", sans-serif;
}
.secondTable th {
  background-color: grey;
  color: green;
  border: 2px solid plum;
}

.secondTable td {
  background-color: brown;
  border: 2px solid purple;
}
.thirdTable th {
  background-color: pink;
  color: rgb(65, 65, 209);
  border: 2px solid red;
}
.thirdTable td {
  background-color: pink;
  border: 2px solid red;
  color: rgb(65, 65, 209);
}
